/* footer.css */
footer {
    background-color: #6e707a;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.quote {
    margin-bottom: 30px;
}

.quote p {
    margin: 0;
    font-size: 18px;
}
