footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

.quote {
    margin-bottom: 20px;
}

.quote p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 10px;
    }

    .quote {
        margin-bottom: 10px;
    }
}
