/* header.css */
header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 40px 0;
    border-bottom: 2px solid #2980b9;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

header p {
    font-size: 20px;
    margin-bottom: 30px;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 16px;
    }
}
