header {
    background-color:  #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    background-color: #f0f0f0;
    padding: 20px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
}

.input-field {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list {
    list-style-type: none;
    padding: 0;
}


#task-count {
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .input-group {
        flex-direction: column;
    }

    .input-field {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn {
        width: 100%;
    }
}


.done {
    text-decoration: line-through;
}

#tasks li span {
    font-size: 16px; 
    font-weight: bold;
    font-family: Arial, sans-serif;
}







