main {
    padding: 20px;
    background-color: #dfe6e9;
}

.section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #2d3436;
    font-size: 24px;
    margin-bottom: 20px;
}
.done {
    text-decoration: line-through;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    flex: 1 1 auto; /* Убрано фиксированное значение ширины */
    padding: 15px;
    border: 2px solid #636e72;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn {
    flex: 0 0 auto; /* Убрано фиксированное значение ширины */
    padding: 10px 20px;
    background-color: #6ab04c;
    color: white;
    border: 2px solid #636e72;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: calc(100% - 20px); /* Учитываем отступы */
    margin-top: 10px;
}

.btn:hover {
    background-color: #6ab04c;
}

@media only screen and (max-width: 600px) {
    .input-field {
        flex: 1 1 100%;
        margin-right: 0;
    }
    .btn {
        flex: 1 1 100%;
        margin-right: 0;
        width: 100%; /* Для мобильных устройств кнопка будет занимать всю доступную ширину */
    }
}



.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    padding: 15px 0;
    border-bottom: 1px solid #bdc3c7;
}

.list li:last-child {
    border-bottom: none;
}

.change-button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.change-button:hover {
    background-color: #2980b9;
}

.delete-button {
    padding: 8px 16px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #ff5252;
    border-color: #ff5252;
}


